@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8FAFB;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header .menu {
  -webkit-transition: 2s;
  transition: 2s;
  position: fixed;
  right: 0;
  background-color: #c5c5c1;
  padding: 1% 1%;
  width: 30px;
  height: 30px;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

header .menu nav {
  display: none;
  margin-top: -1%;
}

header .menu nav a {
  font-size: 200%;
  margin: 0% 3%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

header .menu nav a:hover {
  font-weight: bold;
  font-size: 250%;
}

header .menu:hover {
  background-color: #7575a3;
}

header .menu div {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}

header .menu_display {
  -webkit-transition: 2s;
  transition: 2s;
  position: fixed;
  right: 0;
  background-color: #c5c5c1;
  padding: 1% 1%;
  width: 96vw;
  height: 7vh;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  cursor: pointer;
}

header .menu_display nav {
  display: block;
  margin-top: -1%;
}

header .menu_display nav a {
  font-size: 200%;
  margin: 0% 3%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

header .menu_display nav a:hover {
  font-weight: bold;
  font-size: 250%;
}

header .menu_display:hover {
  background-color: #7575a3;
}

header .menu_display div {
  width: 20px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .menu_display .burger_un {
  width: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu_display .burger_deux {
  width: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

header .menu_display .burger_none {
  display: none;
}

header .background {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .background img {
  width: 50%;
}

header .header_description {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

header .header_description img {
  border-radius: 50%;
}

header .header_description ion-icon {
  font-size: 350%;
  color: white;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes blink {
  0% {
    color: gray;
  }
  50% {
    color: white;
    margin-top: 10%;
  }
  100% {
    color: gray;
  }
}

@keyframes blink {
  0% {
    color: gray;
  }
  50% {
    color: white;
    margin-top: 10%;
  }
  100% {
    color: gray;
  }
}

.contact_border {
  width: 35px;
  padding: 0.1%;
  background-color: white;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.contact_border ion-icon {
  font-size: 200%;
  margin-top: 50%;
}

.contact_border ion-icon:hover {
  color: gray;
  cursor: pointer;
}

.contact_border .contact_icon {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

#presentation {
  width: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#presentation h2, #presentation h3, #presentation p {
  margin: 10%;
  text-align: center;
}

.intersection {
  height: 2px;
  background-color: lightblue;
  width: 50%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 2%;
  margin-top: 2%;
}

#domaines {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#domaines h1 {
  margin: 1%;
  margin-bottom: 10%;
  text-align: center;
}

#domaines .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5%;
}

#domaines .container .block_un {
  width: 50%;
  margin-top: 10%;
  margin: 1%;
}

#domaines .container .block_un video {
  width: 20vw;
}

#domaines .container .block_deux {
  width: 50%;
  margin-top: 10%;
  margin: 1%;
}

#domaines .container .block_deux video {
  width: 20vw;
}

#moi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #242C37;
  text-align: center;
  padding: 1% 0%;
  margin-top: 5%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#moi div {
  width: 40%;
}

#moi img {
  margin: 2%;
  padding: 1%;
  width: 25%;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
}

#moi .smaelle {
  width: 45%;
}

#moi .mrrobot {
  width: 45%;
}

#moi ion-icon {
  font-size: 800%;
  color: gray;
}

#moi p, #moi h2 {
  color: white;
}

#moi .moi_description {
  font-style: italic;
}

#formulaire {
  text-align: start;
}

#formulaire h1 {
  text-align: center;
  margin: 2%;
}

#formulaire h1:hover {
  cursor: pointer;
}

#formulaire .div_contact {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 1%;
}

#formulaire .div_contact button {
  width: 100px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

#formulaire .div_contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 1%;
}

#formulaire .div_contact_flex button {
  width: 100px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #242C37;
  width: 100%;
  padding: 1% 0%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: gray;
}

footer h1 {
  font-size: 200%;
  color: gray;
  width: 100%;
}

footer img {
  margin: 5%;
  border-radius: 50%;
}

@media screen and (max-width: 1400px) {
  header .menu_display {
    -webkit-transition: 2s;
    transition: 2s;
    position: fixed;
    right: 0;
    background-color: #7575c1;
    padding: 1% 1%;
    width: 96vw;
    height: 10vh;
    z-index: 10;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 3px black;
            box-shadow: 1px 1px 3px black;
    cursor: pointer;
  }
  header .menu_display nav {
    display: block;
    margin-top: 1%;
  }
  header .menu_display nav a {
    font-size: 100%;
    margin: 0% 3%;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: white;
  }
  header .menu_display nav a:hover {
    font-weight: bold;
    font-size: 150%;
  }
  header .menu_display:hover {
    background-color: #7575a3;
  }
  header .menu_display div {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
  #domaines {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
  }
  #domaines h1 {
    margin: 1%;
    margin-bottom: 10%;
    text-align: center;
  }
  #domaines .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5%;
  }
  #domaines .container .block_un {
    width: 90%;
    margin-top: 10%;
    margin: 1%;
  }
  #domaines .container .block_un video {
    width: 30vw;
  }
  #domaines .container .block_deux {
    width: 90%;
    margin-top: 10%;
    margin: 1%;
  }
  #domaines .container .block_deux video {
    width: 30vw;
  }
}

@media screen and (max-width: 800px) {
  #moi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #242C37;
    text-align: center;
    padding: 1% 0%;
    margin-top: 5%;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  #moi div {
    width: 33%;
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    margin-bottom: 5%;
  }
  #moi img {
    margin: 2%;
    width: 30%;
    border: 1px solid black;
    -webkit-box-shadow: 1px 1px 1px black;
            box-shadow: 1px 1px 1px black;
  }
  #moi ion-icon {
    font-size: 800%;
    color: gray;
  }
  #moi p, #moi h2 {
    color: white;
  }
  #moi .moi_bold {
    font-weight: bold;
  }
  #moi .moi_description {
    font-style: italic;
  }
  .header_description {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .header_description img {
    width: 20%;
    border-radius: 50%;
  }
  .header_description h1, .header_description h2 {
    font-size: 100%;
  }
  .header_description ion-icon {
    font-size: 50%;
    color: white;
    -webkit-animation-name: blink;
            animation-name: blink;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes blink {
    0% {
      color: gray;
    }
    50% {
      color: white;
      margin-top: 10%;
    }
    100% {
      color: gray;
    }
  }
  @keyframes blink {
    0% {
      color: gray;
    }
    50% {
      color: white;
      margin-top: 10%;
    }
    100% {
      color: gray;
    }
  }
}
/*# sourceMappingURL=style.css.map */